//theme

//colors
$light-gray: lightgray;
$gray: #8f8e8e;
$dark-gray: #565c63;
$dark-red: darkred;

//font
$font-family: "Avenir", Helvetica, Arial, sans-serif;
$font-size-base: 1rem;
$font-color-base: $dark-gray;

//spacings
$spacing: 8px;
$spacing-small: 2px;
